@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: Bebas Neue, Verdana, Geneva, Tahoma, sans-serif;
  max-width: 90%;
  background-color: #322c30;
  margin: auto;
  text-align: center;
}
.pageID {
  display: none;
}
header {
  text-align: center;
}

a {
  text-decoration-line: none;
  color: #ba9b64;
}
.top-container {
  margin-top: 20px;
}
.top-logo {
  font-size: 3em;
  margin-top: 20px;
  text-shadow: 5px 3px 5px #000000;
}
.nav {
  font-size: 1.2em;
}

.sub-logo {
  color: #d42f26;
  font-size: 1em;
}

.nav {
  padding: 30px;
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.top-nav i {
  display: none;
}

.nav .delivery,
.nav .reservation {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
}

.insta-link {
  font-size: 1.7em;
}
section {
  width: 100%;
}
.banner-wrapper {
  /* padding: 10px 0 10px 0; */
  background-color: #fff;
  padding: 20px;
  margin: auto;
  width: 60%;
  display: flex;
}
.banner-info {
  color: #d42f26;
  /* max-width: 100%; */
  /* margin: auto; */
  font-size: 1.5em;
  text-align: center;
}
.banner-image {
  text-align: center;
  /* max-width: 100%; */
  margin: auto;
}
.banner-image img {
  width: 90%;
}
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 60%;
  background-color: #fff;
  margin: auto;
}
/* .banner-wrapper, */
.gallery-wrapper {
  margin-bottom: 20px;
}

.gallery img {
  max-width: 33%;
}

footer {
  text-align: center;
  padding: 10px;
  clear: both;
  color: #fff;
}

/* menu page style */

.menu img {
  max-width: 100%;
}

/* Tablets ----------- */
@media all and (min-device-width: 768px) and (max-device-width: 1279px) {
  .gallery-wrapper {
    text-align: center;
  }
  .gallery img {
    max-width: 60%;
  }
}

/* Smartphones  ----------- */
@media all and (max-device-width: 767px) {
  body {
  }
  .nav {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    padding: unset;
  }
  .nav .delivery,
  .nav .reservation {
    background-color: #fff;
    border-radius: 10px;
    padding: unset;
  }

  .insta-link {
    font-size: 1em;
  }

  .banner-wrapper {
    background-color: #322c30;
    margin: auto;
    padding: unset;
    border-style: none;
    display: flex;
    flex-direction: column;
  }

  .banner-info {
    padding: 10px;
    border: solid #fff 0.8px;
    border-radius: 10px;
    color: #fff;
    /* max-width: 100%; */
    margin-top: 15px;
    font-size: 1.2em;
  }

  .banner-image img {
    display: none;
  }

  .gallery-wrapper {
    padding: 5px;
    border: none;
    display: flex;
    max-width: 80%;
    flex-direction: column;
  }
  .banner-wrapper,
  .gallery-wrapper {
    margin-bottom: 20px;
  }

  .gallery img {
    max-width: 100%;
    margin: auto;
  }
}
